        <!--Background container-->
        <div class="background">
            <div class="background__half background--white"></div>
            <div class="background__half background--black"></div>
        </div>
        <!--Container-->
        <div class="container">
            <!--Overlapping card-->
            <div class="card">
                <!--Column 1 photo and anchors-->
                <div class="content">
                    <img
                        class="content__photo"
                        src="/img/mi_foto.jpg"
                        alt="yael charles Marin photo"
                    />

                    <!--Container for anchors-->
                    <div class="social_links">
                        <a
                            class="social_links__item"
                            href="https://github.com/YaelChar417"
                            target="_blank"
                            >Github</a
                        >
                        <a
                            class="social_links__item"
                            href="https://www.linkedin.com/in/yael-charles-marin-721162319?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BD2Z9PQ9tSm66wKlnNMvjFQ%3D%3D"
                            target="_blank"
                            >LinkedIn</a
                        >
                    </div>
                </div>

                <!--Column 2 text-->
                <div class="content right---element">
                    <h1 class="content__title">Yael Charles Marin</h1>
                    <ul class="list">
                        <li>
                            Currently studying
                            <strong>Computer Science</strong> at Tecnologico de
                            Monterrey Campus QRO.
                        </li>
                        <li>
                            High passion for programming areas, such as,
                            <strong>
                                web development and computer networks</strong
                            >.
                        </li>
                        <li>
                            Frendly, funny, compromised, defenitively a
                            <strong>great person...</strong> not just because I
                            said it myself.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
