<!-- Stilos -->
        <link rel="stylesheet" href="/css/home.css" />
        <link rel="stylesheet" href="/css/navbar.css"> 
    </head>
    <body>
        <div class="upper_element">
            <div class="slide">
                <h2>Menu</h2>
                <ul>
                    <li><a href=""></a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>