<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio</title>

        <!-- Favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/icons/favicon_io/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/icons/favicon_io/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/icons/favicon_io/favicon-16x16.png"
        />
        <link rel="manifest" href="/icons/favicon_io/site.webmanifest" />

        <!-- Stilos -->
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="media">
                <img
                    class="media__photo"
                    src="/img/mi_foto.jpg"
                    alt="Foto de yael charles Marin"
                />
                <a
                    class="media__link"
                    href="https://github.com/YaelChar417"
                    target="_blank"
                    >Github</a
                >
                <a
                    class="media__link"
                    href="https://www.linkedin.com/in/yael-charles-marin-721162319?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BD2Z9PQ9tSm66wKlnNMvjFQ%3D%3D"
                    target="_blank"
                    >LinkedIN</a
                >
            </div>
            <div class="content">
                <h1>Yael Charles Marin</h1>
                <ul class="list">
                    <li class="list__item">
                        Currently studying <strong>Computer Science</strong> at
                        Tecnologico de Monterrey Campus QRO.
                    </li>
                    <li class="list__item">
                        High passion for programming areas, such as,
                        <strong> web development and computer networks</strong>.
                    </li>
                    <li class="list__item">
                        Frendly, funny, compromised, defenitively a
                        <strong>great person...</strong> not just because I said
                        it myself.
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
